.dark-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.062), rgba(0, 0, 0, 0)), url('../images/tom_bg2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.darker-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.062), rgba(0, 0, 0, 0)), url('../images/tom_bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

#hero .container {
    height: 50vh;
}

.generic {
    padding: 100px 0;
}

/* .lead {
    background-color: rgb(240, 184, 41);
    font-style: italic;
    text-align: center;
    border: 2px solid;
    border-radius: 1em;
} */


.mission{
    font-style: italic;
    text-align: center;
    margin: 1px;  
     
}

.vision{
    text-align: center;
    font-style: italic;
}
section#latest .latest-item button {
    max-height: 250px;
    padding: 0;
    overflow: hidden;
}

section#latest .latest-item img {
    min-height: 100%;
    width: 100%;
}

section#latest .latest-item {
    position: relative;
}

section#latest .latest-item:hover .overlay {
    opacity: 1;
    background: rgba(75, 189, 61, .9);
}

section#latest .latest-item:hover i {
    opacity: 1;
    transform: none;
}

/* .carousel {
    width:150px;
    height:150px;
} */

section#latest .latest-item .overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: yellowgreen;
    opacity: .5;
    color: #fff;
    transition: all .5s;
}

section#latest .latest-item i {
    transform: translateY(20px);
    transition: all .5s;
    opacity: 0;
    font-size: 2rem;
}

